body {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
main{
    background-color: #eee;
    width: 95%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 32px auto;
    border-radius: 8px;
    padding: 64px 0;
}

h1 {
    font-size: 3rem;
    margin: 0;
}
 p{
    font-size: 1rem;
 }

 #img-div {
    background-color: #fff;
    width: 90%;
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 1rem;
    padding: 32px 0;
 }

 #image {
    width: 80%;
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    display: block;
 }

 #img-caption {
    font-size: 1rem;
    font-style: italic;
 }

 #tribute-info {
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 1rem;
    
 }

 #quote {
    font-style: italic;
    font-size: 1.2rem;
 }

 #footer p {
    font-size: 20px;
    font-weight: 800;
 }